body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(118,117,122,1) 48%, rgba(0,0,0,1) 100%, rgba(3,1,44,0.050840404521183435) 100%);
  font-family: "Lato", sans-serif;
}

#navbar,
h1 {
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 36px;
}

.menu-bar {
  justify-content: center;
  font-size: 16px;
  background-color: aliceblue;
  padding: 15px;
  border: 2px solid grey;
  border-radius: 10%;
}

#placeholder {
  display: flex;
  margin-left: 113px;
}

#image-holder {
  background-color: green;
  width: 27%;
  height: 450px;
  display: flex;
  margin-top: 45px;
}

#SKnR {
  width: 428px;
}

#image-description-holder {
  background-color: rgb(207, 221, 247);
  display: flex;
  justify-content: flex-end;
  text-align: justify;
  width: 740px;
  height: 450px;
  margin-top: 45px;
  margin-right: 45px;
  margin-left: 224px;
}

#image-author {
  margin-left: 113px;
  margin-top: 22px;
  width: 393px;
  height: 80px;
  background-color: grey;
  display: inline-block;
  text-align: center;
  float: left;
}

#spotify-song {
  margin-left: 113px;
  margin-top: 22px;
  margin-right: 95px;
  display: flex;
  justify-content: flex-end;
}

#footer {
  background-color: gray;
  width: 1356px;
  height: 50px;
  margin-left: 113px;
  margin-top: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
