body {
  background-color: #000;
  font-family: 'Lato', sans-serif;
  
#navbar,
h1 {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
  color: #fff;
}

.menu-bar {
  justify-content: center;
  font-size: 16px;
  background-color: lightgrey;
  padding: 15px;
  border: 2px solid grey;
  border-radius: 15%;
  margin-left: 20px;
}

#placeholder {
  display: flex;
  margin-left: 113px;
}

#image-holder {
  background-color: green;
  width: 27%;
  height: 450px;
  display: flex;
  margin-top: 45px;
}

#SKnR {
  width: 428px;
}

#image-description-holder {
  background-color: lightgray;
  display: flex;
  justify-content: flex-end;
  text-align: justify;
  width: 740px;
  height: 450px;
  margin-top: 45px;
  margin-right: 45px;
  margin-left: 224px;
}

#image-author {
  margin-left: 113px;
  margin-top: 22px;
  width: 393px;
  height: 80px;
  background-color: lightgrey;
  display: inline-block;
  text-align: center;
  float: left;
}

#spotify-song {
  margin-left: 113px;
  margin-top: 22px;
  margin-right: 95px;
  display: flex;
  justify-content: flex-end;
}

#footer {
  background-color: lightgray;
  width: 1356px;
  height: 50px;
  margin-left: 113px;
  margin-top: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
